<div  class="margin-top-10">



 <!-- /.navbar-collapse -->
</div>
<div class="tab-pane" id="tab_2">
 <div class="portlet box green">
  <div class="portlet-title">
   <div class="caption">
    <i class="fa fa-gift"></i>Cari Data Nasabah
   </div>
   <div class="tools">
    <a href="javascript:;" class="collapse">
    </a>
    <a href="#portlet-config" data-toggle="modal" class="config">
    </a>
    <a href="javascript:;" class="reload">
    </a>
    <a href="javascript:;" class="remove">
    </a>
   </div>
  </div>
  <div class="portlet-body form">
   <!-- BEGIN FORM-->
   <form action="javascript:;" class="form-horizontal">
    <div class="form-body">
     <h3 class="form-section">Info</h3>
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">No. Identitas</label>
        <div class="col-md-9">
         <input type="text" class="form-control" ng-blur="onBlur($event)" ng-model = "nasabah.idnasabah" placeholder="No. KTP/Passpor/SIM/SIUP Perusahaan">
           <span class="help-block">
															{{nasabah.resultbox}}</span>

        </div>
       </div>
      </div>

      <div class="col-md-6">

       <div class="form-group">
        <label class="control-label col-md-3">Tipe ID</label>
        <div class="col-md-9">
         <div class="btn-group">
          <label class="btn btn-warning" ng-model="nasabah.idtype" btn-radio="'KTP'">KTP</label>
          <label class="btn btn-warning" ng-model="nasabah.idtype" btn-radio="'Passpor'">Passpor</label>
          <label class="btn btn-warning" ng-model="nasabah.idtype" btn-radio="'SIM'">SIM</label>
          <label class="btn btn-warning" ng-model="nasabah.idtype" btn-radio="'SIUP'">SIUP</label>


         </div>
        </div>
       </div>

      </div>
      <!--/span-->

      <!--/span-->
     </div>
     <!--/row-->
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">Nama Nasabah</label>
        <div class="col-md-9">
         <input type="text" class="form-control" ng-disabled = "disableForm" ng-model = "nasabah.nama" placeholder="Nama sesuai identitas">
        </div>
       </div>
      </div>
      <!--/span-->
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">Tipe Nasabah</label>
        <div class="col-md-9">
         <div class="btn-group">
          <label class="btn btn-info" ng-model="nasabah.jenis" btn-radio="'Individu'">Individu</label>
          <label class="btn btn-info" ng-model="nasabah.jenis" btn-radio="'Perusahaan'">Perusahaan</label>

         </div>
        </div>
       </div>

      </div>
      <!--/span-->
     </div>
     <!--/row-->
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">No Telp</label>
        <div class="col-md-9">
         <input type="text" ng-disabled = "disableForm" class="form-control" ng-model = "nasabah.phone" placeholder="No yang bisa dihubungi">
        </div>
       </div>
      </div>
      <!--/span-->
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">Notes</label>
        <div class="col-md-9">
         <textarea class="form-control" ng-disabled = "disableForm"  ng-model = "nasabah.notes" placeholder="notes" rows="4" cols="50"/>
        </div>
       </div>
      </div>
      <!--/span-->
     </div>
     <h3 class="form-section">Alamat</h3>
     <!--/row-->
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">Alamat</label>
        <div class="col-md-9">
         <textarea class="form-control" ng-disabled = "disableForm" ng-model = "nasabah.alamat" placeholder="Alamat lengkap sesuai Identitas" rows="5" cols="50"/>
        </div>
       </div>
      </div>
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">Negara</label>
        <div class="col-md-9">
         <input type="text" ng-disabled = "disableForm" class="form-control" ng-model = "nasabah.negara" >
        </div>
       </div>
      </div>
     </div>

    </div>
    <div class="form-actions">
     <div class="row">
      <div class="col-md-6">
       <div class="row">
        <div class="col-md-offset-3 col-md-9">
         <button type="submit" ng-click="addNasabData()" class="btn green" ng-disabled = "disableForm" >+ Tambah</button>
         <button type="button" class="btn default">Cancel</button>
        </div>
       </div>
      </div>
      <div class="col-md-6">
      </div>
     </div>
    </div>
   </form>
   <!-- END FORM-->
  </div>
 </div>

</div>

<div class="tab-pane" id="tab_2">
 <div class="portlet box yellow">
  <div class="portlet-title">
   <div class="caption">
    <i class="fa fa-gift"></i>Master Transaksi
   </div>
   <div class="tools">
    <a href="javascript:;" class="collapse">
    </a>
    <a href="#portlet-config" data-toggle="modal" class="config">
    </a>
    <a href="javascript:;" class="reload">
    </a>
    <a href="javascript:;" class="remove">
    </a>
   </div>
  </div>
  <div class="portlet-body form">
   <!-- BEGIN FORM-->
   <form action="javascript:;" class="form-horizontal">
    <div class="form-body">
     <h3 class="form-section">Info</h3>
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">ID Transaksi</label>
        <div class="col-md-9">
         <input type="text" class="form-control" ng-model = "trxh.trxh_code" ng-disabled = "true" placeholder="">
           <span class="help-block">
														</span>

        </div>
       </div>
      </div>

      <div class="col-md-6">

       <div class="form-group">
        <label class="control-label col-md-3">Tanggal</label>
        <div class="col-md-9">
         <input type="text" class="form-control" ng-disabled = "true" ng-model = "trxh.trxh_date" placeholder="">
           <span class="help-block">
														</span>

        </div>
       </div>

      </div>
      <!--/span-->

      <!--/span-->
     </div>
     <!--/row-->
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label class="control-label col-md-3">Tipe Transaksi</label>
        <div class="col-md-9">
         <div class="btn-group">
          <label class="btn btn-info" ng-model="trxh.jenis" btn-radio="'Jual'">Jual</label>
          <label class="btn btn-info" ng-model="trxh.jenis" btn-radio="'Beli'">Beli</label>
         </div>
        </div>
       </div>
      </div>
      <!--/span-->
      <div class="col-md-6">


      </div>
      <!--/span-->
     </div>
     <!--/row-->


    </div>
    <div class="form-actions">
     <div class="row">
      <div class="col-md-6">
       <div class="row">
        <div class="col-md-offset-3 col-md-9">
         <button ng-click="addDataTrxh()" class="btn blue">+ Transaksi Baru</button>
         <!--<button ng-click="deleteData()" class="btn red">- Hapus</button>
         <button ng-click="refreshData()" class="btn green">Refresh</button>-->
        </div>
       </div>
      </div>
      <div class="col-md-6">
      </div>
     </div>
    </div>
   </form>
   <!-- END FORM-->
  </div>
 </div>

</div>

<div class="tab-pane" id="tab_2">
 <div class="portlet box blue">
  <div class="portlet-title">
   <div class="caption">
    <i class="fa fa-gift"></i>Detil Transaksi
   </div>
   <div class="tools">
    <a href="javascript:;" class="collapse">
    </a>
    <a href="#portlet-config" data-toggle="modal" class="config">
    </a>
    <a href="javascript:;" class="reload">
    </a>
    <a href="javascript:;" class="remove">
    </a>
   </div>
  </div>

  <div class="portlet-body form">
   <!-- BEGIN FORM-->
   <form action="javascript:;" class="form-horizontal">
    <div class="form-body">

     <div class="row">
            <div class="col-md-9">
             <button ng-click="addDataTrxh()" class="btn blue">+ Tambah</button>
             <button ng-click="deleteData()" class="btn red">- Hapus</button>
             <button ng-click="refreshData()" class="btn green">Refresh</button>
            </div>
      </div>


      <!--/span-->

      <!--/span-->
     </div>
     <div class="row">
      <div class="col-md-12">
       <div style="margin: 5px" align="center">
       <div id="jqxgrid" style="font-size: 11px; font-family: Verdana; "></div>
        </div>
     </div>
     </div>

    </div>

   </form>
   <!-- END FORM-->
  </div>
 </div>

</div>


<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width: 100%">




 </div>


 <link rel="stylesheet" href="./assets/global/plugins/jqwidgets/styles/jqx.base.css" type="text/css" />
 <link rel="stylesheet" href="./assets/global/css/custom.css" type="text/css" />
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxcore.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxbuttons.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxscrollbar.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxmenu.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxcombobox.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxlistbox.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.edit.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.selection.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.columnsresize.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxdata.js"></script>
 <script type="text/javascript">

  $(document).ready(function () {
   //initCurrency();

  });
 </script>
</div>
