<div  class="margin-top-10">

 <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width: 100%">

  <div style = "height:20px"></div>
  <div class="navbar navbar-default" role="navigation">
   <!-- Brand and toggle get grouped for better mobile display -->
   <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="navbar-form navbar-left">
     <button ng-click="addData()" class="btn blue">+ Tambah</button>
     <button ng-click="deleteData()" class="btn red">- Hapus</button>
     <button ng-click="refreshData()" class="btn green">Refresh</button>
    </div>

   <!-- /.navbar-collapse -->
  </div>
  <div id="jqxgrid" style="font-size: 11px; font-family: Verdana; "></div>
 </div>

 <link rel="stylesheet" href="./assets/global/plugins/jqwidgets/styles/jqx.base.css" type="text/css" />
 <link rel="stylesheet" href="./assets/global/css/custom.css" type="text/css" />
  <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxcore.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxbuttons.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxscrollbar.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxmenu.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxcombobox.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxlistbox.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.edit.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.selection.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxgrid.columnsresize.js"></script>
 <script type="text/javascript" src="./assets/global/plugins/jqwidgets/jqxdata.js"></script>
 <script type="text/javascript">

  $(document).ready(function () {
   //initCurrency();

  });
  </script>
</div>
